@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 3%;
    background-color: whitesmoke(210, 50, 50);
    border-radius: 4px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: #000;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #7e530f ;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.button:hover{
    color: #fff;
    border: none;
    background: #747474;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;

}

.input-control {
    display: flex;
    flex-direction: column;
    margin: .4rem;
}

.input-control input, select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: .8rem;
    padding: .7rem;
    width: 100%;
    height: 35px;
}

.input-control label {
    margin-bottom: .4rem;
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.input-control label button{
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #7e530f;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.input-control label button:hover {
    color: #fff;
    border: none;
    background: #747474;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.input-control input:focus {
    outline: 0;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 15PX;
  }